<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1 style="font-size: 5vh;">2Pac</h1>
    <img src="Tupac-Shakur-1993.webp" alt="2pacpic" width="500" height="500" style="object-fit: cover;">
    <article style="display: flex; flex-direction: column; justify-content: space-evenly; align-items: center; gap: 30px;">
        <h2>Who was 2pac?</h2>
        <p>One of the top-selling artists of all time, rapper and actor Tupac Shakur embodied the 1990s gangsta-rap aesthetic and, in death, has become an icon symbolizing noble struggle. Tupac began his music career as a rebel with a cause to articulate the still-relevant travails and injustices endured by many Black Americans. The boundaries between his art and life became increasingly blurred, as Shakur faced legal problems and jail time. On his fourth album, All Eyez On Me, Tupac leaned fully into celebrating the thug lifestyle. It was the last album Tupac would live to see released. On September 7, 1996, the 25-year-old was gunned down in Las Vegas and died six days later. His murder has never been solved.</p>
        <h2>Early Life: Mom, Siblings, and More</h2>
        <p>Tupac Amaru Shakur was born Lesane Parish Crooks on June 16, 1971, in New York City’s Harlem neighborhood. His mother, Afeni Shakur, had been a political activist and Black Panther Party member who was arrested in 1969 for allegedly planning coordinated attacks on police stations and offices in New York City. She became pregnant with Tupac while out on bail, and she was acquitted in 1971 after defending herself in court.</p>
        <h2>Friendship with Jada Pinkett-Smith</h2>
        <p>In 1984, the family moved to Baltimore, where Tupac enrolled at the prestigious Baltimore School for the Arts, where he said he was “the freest I ever felt.” This was also where Tupac met the future actor Jada Pinkett-Smith. He wrote poems about her, and she had a cameo in his music video for “Strictly 4 My Niggaz.” Pinkett-Smith later told reporters that she was a drug dealer when she met Tupac, and that she resented the way the movie All Eyez on Me (2017) later “reimagined” their relationship: “It wasn’t just about, oh, you have this cute girl, and this cool guy, they must have been in this—nah, it wasn’t that at all. It was about survival, and it had always been about survival between us.”</p>
    </article>
    
</body>
</html>