<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
   <header style="width: 100%">
        <nav style="display: flex; justify-content: space-around; flex-direction: row; align-items: center;">
            <a href="/about" style="color: white; text-decoration: none;">About</a>
            <a href="/works"  style="color: white; text-decoration: none;">Works</a>
            <a href="/photos"  style="color: white; text-decoration: none;">Photo Gallery</a>
        </nav>
    </header>
    <main>
        <h1>Tribute page of 2pac</h1>
    </main>
    <footer>
        <img src="rexusa_829701b1-31184c163596e9c44d777e61951e2324e3e49487.jpeg" alt="img" width="500" height="500" style="object-fit: cover;">
    </footer> 
</body>
</html>