<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photos Gallery</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <section>
        <h1>Photos Gallery</h1>
    </section>
    <section>
        <img src="_129951712_2pacgettyimages-76154363.jpeg" alt="one pic" width="500" height="500" style="object-fit: cover;">
        <img src="500x500-000000-80-0-0.jpeg" alt="" width="500" height="500" style="object-fit: cover;">
        <img src="desktop-wallpaper-tupac-posted-by-michelle-peltier-2pac-full-android.jpeg" alt=""width="500" height="500" style="object-fit: cover;">
        <img src="Screen-Shot-2018-10-03-at-15.21.41.webp" alt="" width="500" height="500" style="object-fit: cover;">
        <img src="a3377473993_65.jpeg" alt="" width="500" height="500" style="object-fit: cover;">
    </section>
</body>
</html>